* {
    --color1: #E9F1FA;
    --color2: #2272FF;
    --color3: #FFFFFF;
    --color4: #414770;
}

.app {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
}


.signed-user {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    padding: 10px;
}

