.header {
    /*background-color: lightblue;*/
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0;
    height: 100px;
    margin: 0 0 40px;

}

.not-auth {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.auth {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
    gap: 20px;
    height: 100%;
    align-items: center;
}