* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 10px;
}

#form {
    align-content: center;
}


.page__wrapper {
    margin-top: 20px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid blue;
    cursor: pointer;
}

.page__current {
    border: 2px solid yellow;
    font-weight: bold;
}