* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 10px;
}

.post__btn {
    display: flex;
}

#form {
    align-content: center;
}

.page__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid blue;
    cursor: pointer;
}

.page__current {
    border: 2px solid yellow;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightyellow;
}

.navbar__links {
    margin-left: auto;
}

.active {
    color: orange;
}


.post__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
