.MyModal {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.MyModalContent {
    padding: 25px;
    background: white;
    border-radius: 15px;
    min-width: 250px;
}